.advantages {
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding-top: 96px;
  padding-bottom: 32px;
}

.advantages__title {
  margin: 0 0 40px 0;
  font-size: 32px;
  line-height: 1;
  text-align: center;
}

.advantages__info {
  margin: 0 auto 92px;
  line-height: 22px;
  max-width: 675px;
  text-align: center;
}

.advantages__list {
  @include list-style-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: calc((100% - 200px) / 3);
  text-align: center;
  margin-bottom: 92px;

  @media (max-width: 1250px) {
    width: calc((100% - 100px) / 2);
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  & span {
    display: block;
    font-size: 48px;
    margin-bottom: 32px;
  }
}

.advantages__item-title {
  margin: 0 0 30px 0;
  font-size: 18px;
}

.advantages__item-text {
  margin: 0;
}
