.advantages__list {
  @include list-style-reset;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $gray;
}

.advantages__item {
  width: calc(99.99% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding: 80px 25px 10px;
  cursor: pointer;
  transition: all 0.3s;

  @media (max-width: 1440px) {
    width: 50%;
    padding: 30px;
  }

  @media (max-width: 500px) {
    width: 100%;
    padding: 30px 25px;
    border: none;

    &:nth-child(3n) {
      border: none;
    }
  }

  &:nth-child(3n) {
    border-right: none;

    @media (max-width: 1440px) {
      border-right: 1px solid $gray;
    }
  }

  &:nth-child(2n) {
    @media (max-width: 1440px) {
      border-right: none;
    }
  }

  &:nth-child(1n+5) {
      @media (max-width: 1440px) {
      border-right: 1px solid $gray;
    }

    @media (max-width: 500px) {
      border-right: none;
    }
  }

  &:nth-child(2n+5) {
    @media (max-width: 1440px) {
      border-right: none;
    }
  }

  & span {
    font-size: 48px;
    color: $red;
    transition: all 0.3s;
    margin-bottom: 28px;
  }

  &:hover {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: $red;
    color: $white;

    & span {
      color: $white;
    }

    & .advantages__text {
      opacity: 1;
    }

    @media (max-width: 1440px) {
      padding: 30px;
      background-color: $white;
      color: $black;

      & span {
        color: $red;
      }
    }

    @media (max-width: $tablet-width) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &-wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &--video {
    position: relative;
    padding: 0;
    display: block;
    background-color: transparent;
    color: $white;
    height: auto;

    @media (max-width: 1440px) {
      width: 100%;
      padding: 0;
    }

    @media (max-width: 500px) {
      padding: 0;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & span {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 96px;
      height: 96px;
      color: $white;
      font-size: 96px;
      opacity: 0.75;

      &::before {
        margin: 0;
      }
    }

    &:hover {
      background-color: transparent;
      padding: 0;
      color: $white;

      @media (max-width: 1440px) {
        padding: 0;
      }

      @media (max-width: $tablet-width) {
        padding: 0;
      }

      & span {
        color: $red;
        opacity: 1;
      }
    }
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  max-width: 230px;
  text-align: center;
}

.advantages__text {
  width: 100%;
  margin: 0;
  opacity: 0;
  text-align: center;
  color: $white;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: 1440px) {
    opacity: 1;
    color: $black;
  }
}
