.budge {
  display: inline-block;
  font-size: 10px;
  color: $black;
  line-height: 1;
  font-weight: 700;
  border-radius: 10px;
  padding: 6px 12px 4px;
  text-transform: uppercase;
  background-color: $yellow;

  &--card {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--product {
    font-size: 12px;

    @media (max-width: $desktop-width) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -35px;
      font-size: 20px;
      border-radius: 20px;
    }

    @media (max-width: 600px) {
      top: -15px;
    }
  }
}
