.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  background-color: $white;
  padding: 32px 15px 10px;
  height: 450px;
  transition: box-shadow 0.3s;

  &--category {
    height: auto;
    padding-bottom: 30px;

    & .card__img {
      width: 160px;
      height: 160px;
      margin-bottom: 18px;
    }

    .card__title {
      margin-bottom: 0;
    }
  }

  &:hover {
    box-shadow: 0 0 48px #e4e6eb;
    z-index: 1;

    & .card__compare {
      opacity: 1;
    }
  }
}

.card__title {
  margin: 0 0 11px 0;
  font-size: 18px;
  line-height: 1;
  color: $black;
}

.card__collection {
  margin: 0 0 30px;
  line-height: 1;
  color: $dark-gray;
}

.card__img {
  position: relative;
  width: 110px;
  height: 220px;
  margin-bottom: 30px;

  & img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card__prices {
  margin-bottom: 12px;
}

.card__price {
  margin: 0 0 11px 0;
  font-size: 24px;
  color: $black;
  text-align: center;
}

.card__stock {
  margin: 0;
}

.card__old-price {
  font-size: 16px;
  line-height: 1;
  color: $dark-gray;
  text-decoration: line-through;
}

.card__stock-value {
  font-size: 16px;
  line-height: 1;
  color: $red;
}

.card__compare {
  display: flex;
  margin: 0;
  line-height: 18px;
  color: $dark-yellow;
  align-items: flex-end;
  opacity: 0;
  transition: color 0.3s;

  &:hover {
    color: $yellow;
  }

  & span {
    font-size: 12px;
    margin-right: 9px;

    &::before {
      margin: 0;
    }
  }
}
