.compile {
  padding: 48px 0 0;
  border-top: 1px solid $gray;

  @media (max-width: $desktop-width) {
    padding-bottom: 40px;
  }

  & .btn {
    width: 100%;
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.compile__title {
  margin: 0 0 3px 50px;
  font-size: 24px;
  line-height: 1;

  @media (max-width: $desktop-width) {
    text-align: center;
    margin-left: 0;
    line-height: 30px;
  }
}
