.field__label {
  display: flex;
  flex-direction: column;
  color: $black;

  & .required::after {
    content: "*";
    color: $red;
    margin-left: 4px;
  }
}

.field__input {
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: $light-gray;
  margin-top: 15px;
  padding: 10px 17px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-input-bg;
  }

  &:active {
    background-color: $active-input-bg;
  }

  &::placeholder {
    color: $dark-gray;
  }
}

