.order {
  padding-top: 48px;
  padding-bottom: 125px;
  border-top: 1px solid $gray;

  @media (max-width: $tablet-width) {
    padding-bottom: 95px;
  }
}

.order__title {
  margin: 0 0 60px 0;
  font-size: 24px;
  line-height: 30px;

  @media (max-width: $tablet-width) {
    text-align: center;
  }
}

.order__wrap {
  width: 100%;
}

.order__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;

  @media (max-width: 600px) {
    & .field {
      margin-bottom: 24px;
    }
  }

  &:nth-child(2) {
    margin-bottom: 24px;

    & .field {
      margin-bottom: 24px;
    }
  }

  & .field {
    width: calc((100% - 96px) / 4);
    margin-right: 32px;

    @media (max-width: 1300px) {
      width: calc((100% - 32px) / 2);

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (max-width: 600px) {
      width: 100%;
      margin-right: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  & .field__input {
    height: 40px;
  }

  & .select {
    width: calc((100% - 96px) / 4);
    height: 40px;

    @media (max-width: 1300px) {
      width: calc((100% - 32px) / 2);

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  & .select__placeholder {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  & .checkbox {
    align-self: flex-end;
    margin-bottom: 5px;
  }
}

.order__label {
  margin: 0 0 15px 0;
}

.order__footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gray;
  margin-top: 64px;
  padding-top: 32px;

  @media (max-width: 500px) {
    flex-direction: column-reverse;
  }

  & .btn {
    width: 220px;
    height: 60px;
    font-size: 20px;

    @media (max-width: 500px) {
      width: 100%;
    }
  }
}

.order__total {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 500px) {
    align-items: flex-start;
    margin-bottom: 30px;
  }
}

.order__total-text {
  font-size: 18px;
  line-height: 32px;

  @media (max-width: 500px) {
    font-size: 16px;
  }
}

.order__total-value {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
