.product {
  padding-top: 40px;
  padding-bottom: 70px;

  @media (max-width: $desktop-width) {
    padding-top: 48px;
  }

  & .tabs__buttons {
    margin-bottom: 20px;
    border-bottom: 1px solid $gray;
    text-align: left;
  }
}

.product__tablet-title {
  display: none;
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 24px;

  @media (max-width: $desktop-width) {
    display: block;
  }
}

.product__tablet-collection {
  display: none;
  text-align: center;
  margin: 0 0 30px 0;

  @media (max-width: $desktop-width) {
    display: block;
  }
}

.product__inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop-width) {
    flex-direction: column;
  }
}

.product__left-col {
  width: 49%;
  display: flex;
  justify-content: center;

  @media (max-width: $desktop-width) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  @media (max-width: 600px) {
    margin-bottom: 0;
  }

  & .slider {
    margin: 0;
    overflow: inherit;
  }
}

.product__img {
  height: 550px;

  & img {
    display: block;
    height: 100%;
    object-fit: contain;
  }
}

.product__right-col {
  position: relative;
  width: 49%;

  @media (max-width: $desktop-width) {
    width: 100%;
  }
}

.product__title {
  margin: 0 20px 20px 0;
  font-size: 32px;
  line-height: 1;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.product__title-wrap {
  display: flex;
  align-items: flex-start;
}

.product__wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media (max-width: 1550px) {
    margin-bottom: 30px;
  }

  @media (max-width: $desktop-width) {
    &:first-of-type {
      display: none;
    }
  }

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.product__collection {
  margin: 0;
  font-size: 18px;
  line-height: 1;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.product__code {
  margin: 0 0 0 auto;
  line-height: 1;
  color: $dark-gray;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.product__tablet-code {
  display: none;
  margin: 0 0 25px auto;
  line-height: 1;
  color: $dark-gray;

  @media (max-width: $desktop-width) {
    display: block;
  }

  @media (max-width: 500px) {
    font-size: 14px;
    margin: 0 auto 25px;
  }
}

.product__prices {
  margin-right: 70px;

  @media (max-width: 1300px) {
    margin-right: 20px;
  }

  @media (max-width: 500px) {
    margin-right: 0;
    margin-bottom: 30px;
    width: 50%;
  }
}

.product__prices-text {
  margin: 0 0 14px 0;
  line-height: 1;
  color: $dark-gray;

  @media (max-width: 500px) {
    font-size: 14px;
  }

  & span {
    cursor: pointer;
    color: $gray;

    &:hover {
      color: $dark-gray;
    }
  }
}

.product__price {
  margin: 0 0 16px 0;
  font-size: 32px;
}

.product__stock {
  margin: 0;
}

.product__stock-price {
  text-decoration: line-through;
}

.product__stock-value {
  text-decoration: none;
  color: $red;
}

.product__brand {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-left: auto;

  @media (max-width: 500px) {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  & img {
    display: block;
  }
}

.product__colors {
  @media (max-width: 500px) {
    order: 2;
    width: 100%;
  }
}

.product__colors-text {
  margin: 0 0 16px 0;
  line-height: 1;
  color: $dark-gray;
}

.product__colors-switcher {
  display: flex;
  overflow: auto;
}

.product__controls {
  display: flex;

  @media (max-width: 1300px) {
    width: 100%;
    flex-direction: column;
  }

  @media (max-width: $desktop-width) {
    width: auto;
    flex-direction: row;
  }

  @media (max-width: 500px) {
    width: 100%;
    flex-direction: column;
  }

  & .btn {
    width: 260px;
    height: 60px;
    font-size: 20px;
    padding: 8px;
  }
}

.product__links {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  @media (max-width: 1760px) {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
  }

  @media (max-width: $desktop-width) {
    width: auto;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
  }

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }

  & .link {
    line-height: 24px;
    display: flex;
    align-items: center;

    @media (max-width: 1760px) {
      margin-right: 20px;
    }

    @media (max-width: $desktop-width) {
      margin-right: 0;
    }

    @media (max-width: $tablet-width) {
      margin-right: 20px;
    }

    @media (max-width: 500px) {
      margin-right: 0;

      &:first-child {
        margin-bottom: 10px;
      }
    }

    & span {
      font-size: 12px;
      margin-right: 5px;
    }
  }
}

.product__select {
  position: absolute;
  right: -15px;
  top: 0;
  width: 245px;
  display: flex;
  align-items: center;

  @media (max-width: 1550px) {
    position: relative;
    right: auto;
    top: auto;
    margin-bottom: 30px;
  }

  @media (max-width: $desktop-width) {
    position: absolute;
    right: -15px;
    top: 0;
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    right: auto;
    top: auto;
    margin-bottom: 30px;
  }

  @media (max-width: 500px) {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  & .icon-cloud {
    color: $red;
  }
}

.product__tabs {
  width: 100%;

  & .tabs__buttons {
    @media (max-width: 400px) {
      justify-content: space-between;
    }
  }
}

.product__table {
  width: 100%;
  margin-bottom: 20px;

  & td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;

    @media (max-width: 500px) {
      font-size: 14px;
      width: 50%;
    }
  }
  & td:first-child {
    width: 220px;

    @media (max-width: 500px) {
      width: 50%;
    }
  }

  &--components {
    & td {
      width: 13%;
    }

    & td:first-child {
      width: 61%;
    }
  }

  &--additionally {
    & tr {
      width: 100%;
    }

    & td {
      width: 20%;
    }

    & td:first-child {
      width: 60%;
    }
  }
}

.product__table-strong {
  margin: 0;
  font-weight: 700;
}

.product__complectation {
  margin-right: 65px;
  margin-bottom: 20px;

  @media (max-width: 600px) {
    width: 100%;
    margin-right: 0;
  }
}

.product__complectation-text {
  margin: 0 0 16px 0;
  font-size: 14px;
  color: $dark-gray;
}

.product__complectation-switcher {
  display: flex;
  height: 33px;
  overflow: auto;

  & .radio__label {
    min-width: 48px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $white;
    line-height: 32px;
    text-align: center;
    transition: all 0.3s;
  }

  & .radio__input:checked + .radio__label {
    border-color: $yellow;
    background-color: $yellow;
    color: $black;
  }

  & .radio__input:hover + .radio__label {
    border-color: $dark-yellow;
  }
}
