$black: #000000;
$white: #ffffff;

$dark-red: #dc1d29;
$red: #ec1414;
$light-red: #fd3844;
$dark-yellow: #ff9000;
$yellow: #ffcc00;;
$light-yellow: #ffe567;
$bg-black: #1c1c1c;
$lightest-gray: #f0f0f0;
$light-gray: #f2f4f7;
$hover-gray: #b1b7c0;
$gray: #c9ced6;
$dark-gray: #8c9199;
$darkest-gray: #303030;
$purple: #9964ad;
$hover-dark-gray: #626b78;
$hover-input-bg: #e6e9ed;
$active-input-bg: #dfe3e8;

$product-brown: #a29c8c;
$product-gray: #f3f3f3;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$full-desktop-width: 1400px;
$full-hd-width: 1920px;
$quad-hd-width: 2560px;
